@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.menu{
    height: 70px;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 70%;
}

.menu-ham{
    display: none;
}

.menu-x{
    display: none;
}

.menu-lista{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.menu-bt{
    font-family: "Poppins", sans-serif;
    color: white;
    transition: 0.5s;
    cursor: pointer;
    text-decoration: none;
}

.menu-bt:hover{
    color: #00ff00;
}

.pri{
    background-color: black;
    margin: 100px 300px;
    padding: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    border: 10px double;
    border-radius: 50px;
    color: white;
}

.conserto-img{
    border: 5px solid white;
    border-radius: 50px;
}

.conserto-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.conserto-div-titulo{
    font-family: "Poppins", sans-serif;
    font-size: 29px;
}

.conserto-div-texto{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 19px;
}

.conserto-div-bt{
    padding: 10px;
    border-radius: 50px;
    background-color: #00ff00;
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 19px;
    font-weight: 700;
    text-decoration: none;
    transition: 0.3s;
}

.conserto-div-bt:hover{
    transform: translateY(-5px);
}

.rodape{
    background-color: black;
    padding: 25px 100px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30%;
}

.rodape-div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rodape-titulo{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #00ff00;
}

.rodape-texto{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.rodape-icones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.rodape-bt{
    text-align: center;
    cursor: pointer;
}

.rodape-final{
    background-color: black;
    padding: 25px 0;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30%;
}

.rodape-copy{
    font-family: "Poppins", sans-serif;
}

@media (max-width: 1520px) {
    .menu-ham{
        display: flex;
    }

    .menu-lista{
        position: absolute;
        top: 70px;
        right: 0.3px;
        background-color: black;
        padding: 30px 10px;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        border: 1px solid white;
        border-radius: 0px 0px 0px 50px;
    }

    .pri{
        margin: 5em 0;
        padding: 1em;
        flex-direction: column;
        text-align: center;
    }

    .conserto-img{
        width: 300px;
    }

    .rodape{
        flex-direction: column;
    }
}